## Pasted from gitignore.io

# Created by https://www.toptal.com/developers/gitignore/api/go
# Edit at https://www.toptal.com/developers/gitignore?templates=go

### Go ###
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# End of https://www.toptal.com/developers/gitignore/api/go

## Environment-specific items

# Linux/Unix specific temporary files
.nfs*

# macOS specific system files
.DS_Store
.AppleDouble
__MACOSX

# Windows specific system files
Desktop.ini

# Editor and IDE specific temporary or configuration files
*.swp
*.swo
.idea/
.vscode/

## Generic items

# env file
.env
*.env*

# log
*.log

# back up
*.bak

# temp
*.tmp

# todo
TODO*

# memo
memo.*

## Docker-related items

# volumes

## Project-specific items

# ライブラリなどリポジトリに含める必要のないディレクトリ

# デバッグ時のファイル
__debug_bin*

# asset direcotry
/asset/*/*

# upload directory
/upload/homework/*
# サンプルの宿題画像

!/upload/homework/bbbbbbbb-a6ad-4059-809c-6df866e7c5e6.jpg
!/upload/homework/gggggggg-176f-4dea-bec0-21464f192869.jpg
!/upload/homework/rrrrrrrr-bb84-4565-9666-d53dfcb59dd3.jpg

## Others items

# empty directory
!.gitignore
